.titleEvent {
    text-align: center;
}

.size_pictures{
    width: 30%;
}


.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.marketing h2 {
    font-weight: 400;
}
.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.eventAssociation{
    border-color: black;
    border: solid;
    border-radius: 3em;
}

/*_______________Spinner_______________*/
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.spinner {
    display: inline-block;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 4px solid #bbb;
    border-top-color: #555;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}

/* Animation styles */
@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Optional — create your own variations! */
.spinner-large {
    width: 5rem;
    height: 5rem;
    border-width: 6px;
}

.spinner-slow {
    animation: spinner 1s linear infinite;
}

.spinner-blue {
    border-top-color: #09d;
    border-left-color: #09d;
}