apiBele/app/config/parameters.yml
/phpunit.xml
.idea/
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
client/node_modules
/vendor
apiBele/vendor
aiBele/composer.phar
/bin/*
!bin/console
!bin/symfony_requirements