<h1>Bambou Kréyol</h1>

  <div class="form-group">
      <p class="blocktext">
          <span class="firstLetter">B</span>ambou Kréyol a vu le jour dans la ville de Nantes en Métropole, en 2012. La ville de
          Nantes, commune de l'Ouest de la France, s'étend sur les rives de la Loire à 50 Km de l'océan Atlantique.
          Avec plus de 300 000 habitants, Nantes se trouve être la première ville de l'Ouest en terme de nombre d'habitants et appartient au réseau
          des villes et pays d'art et d'histoire.
          Aujourd'hui, on y retrouve une communauté qui ne cesse de grandir : les Antilles !
          De nombreux groupes musicaux ont vu le jour et expriment leur passions dans cette ville.
          Le Bèlè, danse culturelle de la Martinique, commence à voir le jour sur Nantes et espérons perpétuer nos traditions sur Nantes.
          Nous évoluons aussi sur le Gwo-Ka (danses originaire de la Guadeloupe) et bien d'autres genres comme la Mazuka, la Biguine, le Chouval bwa etc...
          Ce groupe d'hommes et de femmes mettent en avant notre culture à travers la musique, la danse, le chant et des représentations théâtrales.

      </p>

      <div class="placementLogo">
          <img src="../../assets/BKLPC-min.png" class="logoBK"/>
      </div>




  </div>

