<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
 <nav class="page-footer font-small special-color-dark pt-2">

              <!-- Footer Elements -->
              <div class="container-fluid">

                  <ul class="list-unstyled list-inline text-center">
                      <li class="list-inline-item">
                        <a href="https://www.facebook.com/BambouKreyol/" mdbBtn floating="true" color="fb" class="mx-1" mdbWavesEffect>
                          <mdb-icon fab icon="facebook"></mdb-icon>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a mdbBtn floating="true" color="gplus" class="mx-1" mdbWavesEffect>
                          <mdb-icon fab fab icon="google-plus"></mdb-icon>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a mdbBtn floating="true" color="li" class="mx-1" mdbWavesEffect>
                          <mdb-icon fab icon="linkedin"></mdb-icon>
                        </a>
                      </li>
                      <li class="list-inline-item">
                          <form class="navbar-form  form-inline" role="search">
                              <div class="form-group">
                                      <input type="search" class="form-control mr-sm-2" placeholder="Search" aria-label="Search">
                              </div>
                              <button type="submit" class="btn btn-default btn-sm my-1 my-sm-0">Rechercher</button>
                          </form>
                      </li>
                    </ul>
              <!-- Footer Elements -->
              <!-- Copyright -->
              <div class="footer-copyright text-center py-3">© 2018 Copyright:
                <a> BambouKreyol </a>
                <p class="navbar-expand m-auto navbar-text">We <i class="fa fa-heart"></i> Bèlè !  Made with <i class="fa fa-heart"></i> by Zayou_972 with Thessa </p>
              </div>
              <!-- Copyright -->
              </div>
            </nav>
            <!-- Footer -->





