.titleEvent {
    text-align: center;
}

.modal-content{
    height: 40em;
}

.dtp-wrapper {
    width: 200px;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }