<h1 class="titleEvent">
  Création d'un &Eacute;v&egrave;nement
</h1>

<form name="form"  #f="ngForm" (ngSubmit)="save()" id="add-event-form" novalidate>
  <div class="form-group">
    <div class="form-group col-md-5">
      <label>Nom de l'évènement: </label>
      <input type="text" class="form-control" placeholder="nom de l'évènement" [(ngModel)]="event.title" (ngModelChange)="onChangeTitle($event)" name="nameEvent">
    </div>
    <div class="form-group col-md-5">
      <label>Nom de l'association : </label>
      <select [(ngModel)]="selectedWorkout" name="selecedValue" class="form-control" (ngModelChange)="onChange($event)">
        <option value="? undefined:undefined ?"></option>
        <option *ngFor="let association of associations" id="association_{{association.id}}" [ngValue]="association">
          {{association.name}}
        </option>
      </select>
    </div>

  </div>

  <div class="form-group">
    <div class="form-group col-md-5">
      <label>Adresse: </label>
      <input type="text"class="form-control" placeholder="adresse" id="addressEvent" [(ngModel)]="event.address" (ngModelChange)="onChangeAddress($event)"name="address">
    </div>

  </div>

  <div class="form-group">
    <div class="form-group col-md-5">
      <label>Date de début: </label>
      <input type="datetime-local" class="form-control" id="dateDeDebut" [(ngModel)]="event.startDate" (ngModelChange)="onChangeStartDate($event)" name="startDate">
    </div>

    <div class="form-group col-md-5">
      <label>Date de fin: </label>
      <input type="datetime-local" class="form-control" id="dateDeFin" [(ngModel)]="event.endDate"  (ngModelChange)="onChangeEndDate($event)" name="endDate">
    </div>
  </div>

  <div class="form-group">
    <div class="form-group col-md-10">
      <label>Descriptif: </label>
      <textarea placeholder="(500 caracters)" id="descriptionEvent" class="form-control" name="description" [(ngModel)]="event.description"></textarea>
    </div>
  </div>

  <!-- button's management-->
  <div class="form-group">
    <div class="form-group col-md-5">
      <button class="btn btn-success"> Valider</button>
      <button class="btn btn-primary" (click)="event = {}">Effacer</button>
      <a routerLink="/event" class="btn btn-danger">Annuler</a>
    </div>
  </div>
</form>

<div class="form-group">
  <button class="btn btn-primary" (click)="lgModal.show()">Autre</button>
</div>
<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1"
     role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Création association</h4>
        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-add-association></app-add-association>
      </div>
    </div>
  </div>
</div>

