<div class="container">
  <nav class="navbar navbar-expand-md">
    <a class="navbar-brand" href="#"><img style="height: 60px; width: 60px; "src="../../assets/testBK_logo.png"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/home">Accueil</a>
        </li>
        <li class="nav-item">
          <a class = "nav-link" routerLink="/presentation">Présentation</a>
        </li>
        <li class="nav-item dropdown" routerLink="active current">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >Galerie Photo</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/gallery">Consulter les galeries</a>
            <a class="dropdown-item" routerLink="gallery/add">Ajouter une catégorie</a>
          </div>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active current">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">&Eacute;v&egrave;nements </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/event">Consulter les &eacute;v&egrave;nements</a>
            <a class="dropdown-item" routerLink="event/add">Ajouter un &eacute;v&egrave;nement</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Historique des évènements</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav mr-5">
        <li class="nav-item">
          <a  routerLink="/joinUs" style="margin-right: 50px;">Contact </a>
        </li>
        <li class="nav-item  justify-content-end">
          <a href="#" role="button" routerLink="/login" aria-haspopup="true"> <i class="fa fa-user"></i>  <span (ngModel)="profilName" *ngIf="profilName == '' || profilName == 'undefined'" > Login </span></a>
        </li>
      </ul>
    </div>
  </nav>
</div>

