<form name="form"  #f="ngForm" (ngSubmit)="save()" id="add-association-form" novalidate>
    <div class="form-group col-md-8">
        <div class="form-group" [ngClass]="{'has-error': f.submitted && (!associationName.valid)}">
            <label>Nom de l'association : </label>
            <input type="text" class="form-control" placeholder="nom de l'association" [(ngModel)]="association.name" name="associationName" id="associationName" #associationName="ngModel"required>
            <div *ngIf="f.submitted && !associationName.valid" class="help-block">Le nom de l'association est requis !!</div>
        </div>
      <div class="form-group">
        <input type="file" name="image" class="btn-sm" (change)="onSelectedFile($event)" />
      </div>
      <div class="form-group">
        <div><i class="glyphicon glyphicon-ok-sign"></i></div>
      </div>
        <div class="form-group">
            <label for="description">Descriptif: </label>
            <textarea placeholder="(500 caracters max)" class="form-control" id="description" name="description" [(ngModel)]="association.description"></textarea>
        </div>
    </div>
    <div class="form-group col-md-6">
        <button type="submit" class="btn btn-success btn-sm"> Enregistrer</button>
        <button class="btn btn-primary btn-sm">Effacer</button>
        <a routerLink="/event/add" class="btn btn-danger btn-sm">Annuler</a>
    </div>
</form>

